<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>Archetype Created Web Application</display-name>

<!-- servlets -->
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.artyemmerkylov.errors.ErrorHandler</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>NotFoundError</servlet-name>
    <servlet-class>com.artyemmerkylov.errors.NotFoundError</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ForbiddenError</servlet-name>
    <servlet-class>com.artyemmerkylov.errors.ForbiddenError</servlet-class>
  </servlet>

  <!-- servlets mapping-->
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>NotFoundError</servlet-name>
    <url-pattern>/NotFoundError</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ForbiddenError</servlet-name>
    <url-pattern>/ForbiddenError</url-pattern>
  </servlet-mapping>

  <!-- error pages-->
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorHandler</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/NotFoundError</location>
  </error-page>

  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/NotFoundError</location>
  </error-page>

  <error-page>
    <error-code>403</error-code>
    <location>/ForbiddenError</location>
  </error-page>

  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/ForbiddenError</location>
  </error-page>
</web-app>
